div.col-md-12
	div.page-header(style="margin-top:0px;")
		h2
			strong #{numSchedules.numStr}
			|&nbsp;#{numSchedules.string} Generated
		h3
			|from #{sectionCount.num} #{sectionCount.string} of #{classCount.num} #{classCount.string}

	include calendarScheduleViewer.pug
	include listScheduleViewer.pug

	div.col-md-12
		div.col-md-4
		div.col-md-4
		if numSchedules.num > 100
			h1(style='text-align:center;') View Truncated to Best 100 Schedules
		div.col-md-4

script(src="public/js/#{scheduleViewerJS}" type="text/javascript")

div.container-fluid(style='margin-top:30px;')
	div.col-md-12.well.well-lg(style='text-align:center;')
		div.col-md-6
			h4 Made by
				a(href='http://mikedombrowski.com', style='color:#444444;') &nbsp;Michael Dombrowski
			h5 Code Available on
				a(href='https://github.com/md100play/university-schedule-generator', style='color:#444444;') &nbsp;GitHub
			h5 Feel Free to Contact Me With Issues or Feature Requests at
				a(href='mailto:michael@mikedombrowski.com', style='color:#444444;') &nbsp;Michael@MikeDombrowski.com&nbsp;
					span.glyphicon.glyphicon-envelope(style='vertical-align:top;')
			p
				| Disclaimer: This product has been developed by Michael Dombrowski it is not owned or operated by the University of Richmond. I will always try to have the data be kept up to date and accuate, but I cannot guarantee effectiveness. Please contact me if you find any issues.
		style(type="text/css").
			@media screen and (min-width: 992px) {
				div.vdivide {
					border-left: 1px solid #A4A4A4;
				}

				hr.vdivide {
					display: none;
				}
			}
		hr.vdivide(style='border-top-color:#A4A4A4')
		div.col-md-6.vdivide
			h4 Stats For Nerds
			ul.list-group
				li.list-group-item Time to Compute: #{time_used}
				li.list-group-item Maximum Memory Used: #{max_memory_used} kilobytes
